.profile {
  margin: 0 50px;
  display: flex;
}
.leftSide {
  flex: 0 1 30%;
}

.profileAvatar {
  position: relative;
  display: inline-block;
}

/* .editAvatar {} */
.editAvatar input{
  display: none;
  visibility: hidden;
  opacity: 0;
}

.editAvatarIcon {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  right: -15px;
  bottom: -15px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}

.rightSide {
  flex: 0 1 70%;
}
.profileInfo {
  margin: 20px 0px 0px 0px;
}

.profileInfoTitle {
  font-weight: 600;
}

.profileInfoList {
  padding: 0;
  margin: 0;
}

.profileInfoItem {
  font-size: 16px;
}

.profileName {
  margin: 0px 0px 8px 0px;
  font-size: 26px;
}

.contacts {
  margin: 0px 0px 0px 20px;
}
