.usersList {
  margin: 0px 0px 0px 300px;
  min-height: 400px;
}

.usersItem {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  display: flex;
  align-items: center;
}

.usersItem:not(:last-child) {
  margin: 0px 0px 20px 0px;
  border-radius: 10px;
}

.usersAvatar:not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.usersNameLink {
  text-decoration: none;
  color: #222222;
  font-size: 18px;
}

.usersFollow {
  margin: 0px 0px 0px auto;
}

.usersPagination {
  margin: 40px 0px 20px 300px;
}