.login {
  max-width: 350px;
  margin: 0 auto;
}

/* .loginForm {
  max-width: 300px; 
} */
.loginFormForgot {
  float: right;
}
.loginForm .ant-col-rtl .login-form-forgot {
  float: left;
}
.loginFormBtn{
  width: 100%;
}

.loginError {
  display: block;
  padding: 20px;
  border: 0.1px solid red;
  border-radius: 4px;
  background-color: hsla(0, 100%, 60%, 0.1);
}

.loginErrorText {
  color: red;
}